@font-face {
    font-family: "cinzel";
    src: url('fonts/cinzel-latin-400-normal.woff2') format('woff2'),
         url('fonts/cinzel-latin-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: 'cinzel', Arial, sans-serif;
    color: floralwhite;
    overflow-x: hidden;
}
html
{
    background-color: #fffaf0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    height: fit-content;
}
form {
    width: 40%;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: clamp(0.5rem, 1rem, 1.5rem);
    padding: clamp(1.5rem, 2rem, 3rem);
}
textarea,
input {
    width: 80%;
    background: #252525;
}
textarea
{
    height: clamp(5rem, 100px, 15rem);
    border-bottom: clamp(0.125rem, 0.25rem, 0.5rem) solid gray;
    font-size: 18px;
}
input {
    height: clamp(2rem, 2.5rem, 4rem);
    border-bottom: clamp(0.125rem, 0.25rem, 0.5rem) solid gray;
    font-size: clamp(1rem, 1.125rem, 1.5rem);
}
#checkbox {
    width: clamp(0.75rem, 0.9375rem, 1.25rem);
    height: clamp(0.75rem, 0.9375rem, 1.25rem);
    background-color: indianred;
    accent-color: seagreen;
    cursor: pointer;
}
h1,
p {
    font-size: clamp(1.25rem, 1.50rem, 1.75rem);
    padding-top: clamp(0.5rem, 1rem, 1.5rem);
    padding-bottom: clamp(0.5rem, 1rem, 1.5rem);
    color: grey;
}
p {
    font-size: clamp(1rem, 1.25rem, 1.50rem);
    color: floralwhite;
}
label {
    font-size: clamp(1rem, 1.125rem, 1.5rem);
}
button {
    width: clamp(4.75rem, 6rem, 9.75rem);
    height: clamp(1.75rem, 2rem, 3.75rem);
    border-radius: clamp(0.3rem, 7rem, 1rem);
    cursor: pointer;
    background: seagreen;
    font-size: clamp(0.75rem, 1rem, 1.25rem);
}
button:disabled {
    background-color: indianred;
    cursor: not-allowed;
}
@media (max-width: 700px) {
    form {
        width: 92%;
    }
}
html#darkmode {
    background-color: black;
}
html#darkmode h1,
html#darkmode h2,
html#darkmode h3 {
    color: floralwhite
}
html#darkmode p,
html#darkmode label {
    color:  #252525;
}
html#darkmode form {
    background-color: floralwhite;
}
html#darkmode button {
    background-color: forestgreen;
}
html#darkmode button:disabled {
    background-color: salmon;
}
html#darkmode img {
    filter: invert(100%);
}
html#darkmode #checkbox {
    accent-color: forestgreen;
}
